@import "office-ui-fabric-react/dist/css/fabric.css";
a {
  outline: none;
}

input[type="checkbox"] {
  vertical-align: middle;
}

.template {
  font-family: "Inter", sans-serif;
  font-size: 9px;
  font-weight: 400;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  width: 98%;
  margin: 0 auto;
}

.top-sec {
  background-color: #fff;
  padding: 7px 15px;
  margin-bottom: 20px;
}

.title {
  font-size: 11px;
  font-weight: 400;
  margin: 0 -8px 20px -8px;
}
.left-sec h5 {
  color: #909090;
  font-size: 11px;
  font-weight: 500;
}

.clients-section span {
  width: 100%;
  border-radius: 0 !important;
  font-size: 9px !important;
  outline: none !important;
  color: #909090 !important;
  border: none;
  display: flex;
}

Label,
Button.btn {
  font-size: 9px !important;
  font-weight: 400 !important;
  font-family: "Inter", sans-serif !important;
}

.secondary {
  background-color: #e1e1e1;
}

.left-sec input[type="text"],
.left-sec select {
  width: 100%;
  font-size: 9px;
  border: 1px solid #909090;
  outline: none;
  color: #909090;
  border-radius: 0;
  font-family: "Inter", sans-serif !important;
}

.radio-group {
  display: inline !important;
}
.radio-section input[type="radio"] ~ div {
  margin: 0 !important;
  height: 12px;
  width: 12px;
}

.radio-section input[type="radio"] ~ div::after {
  height: 12px;
  width: 12px;
}

.sel-border svg {
  position: absolute;
  right: 0;
  top: 3px;
}

.left-sec input:focus,
.left-sec select:focus {
  color: #909090;
  border: 1px solid #909090;
}

/* .left-sec input[type="radio"] {
  margin-left: 0;
} */

.left-sec .ms-Grid-row {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.rgt-sec .data-view {
  border: 1px solid #909090;
  background-color: #fff;
  padding: 0 5px;
  margin-top: 10px;
  max-height: 290px;
  overflow-y: auto;
  overflow-x: hidden;
}

.rgt-sec-title {
  display: flex;
}

.rgt-sec-title span {
  width: 50%;
  display: inline;
  font-size: 10px;
  font-weight: 500;
}
.rgt-sec-title span:first-child {
  padding-left: 15px;
  width: calc(50% - 15px);
}

.rgt-sec .data-view .ms-Grid-row {
  border-bottom: 1px solid #909090;
  padding: 2px;
  align-items: center;
  display: flex;
}
.btn {
  width: 41px;
  border: 0.5px solid #909090 !important;
  background-color: #fff;
  margin-left: 10px !important;
  text-align: center !important;
  border-radius: 0 !important;
}

.left-sec .btn-sec {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 0;
}

.listing-btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px 8px 15px 0;
}

.listing-btns a.btn {
  background: #e1e1e1;
  border: 0.5px solid #1e87da;
}
.rgt-sec .data-view .ms-Grid-row:last-child {
  border: none;
}

.radio-section {
  margin-bottom: 20px;
}

.rgt-sec .data-view .ms-Grid-col .ms-Grid-row:before {
  background: #909090;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  height: 100%;
  width: 1px;
}
.radio-section {
  margin-bottom: 20px;
}
