.modal_box {
  border-radius: 0 !important;
  padding: 0 !important;
  border-color: #909090 !important;
  max-width: 420px !important;
}

.modal_font {
  font-family: "Inter", sans-serif !important;
  font-size: 9px !important;
  line-height: 10.89px !important;
}
.modal_title {
  padding: 10px 7px 5px 15px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500 !important;
}

.modal_close {
  cursor: pointer;
}

.modal_content {
  text-align: justify;
  padding: 0 15px 10px 15px !important;
  display: grid;
  grid-template-columns: 10% 90% !important;
  font-weight: 400 !important;
  color: #585858;
}
.icon-color {
  color: #2854c5;
}

.modal_footer {
  font-size: 8px !important;
  grid-column-start: 1 !important;
  width: 100%;
  justify-content: space-between;
  background-color: #f0f0f0;
  align-items: center;
  padding: 10px;
}

.modal_button {
  min-width: 50px !important;
  background-color: #e1e1e1 !important;
  font-size: 9px !important;
  border-radius: 0 !important;
  padding: 0 !important;
}
